<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Mesa</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 2% 0;
        }

        .container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .btn-home {
            margin-bottom: 20px;
        }

        .btn-cancel {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">¿Estás seguro de que deseas eliminar esta mesa?</h1>
        <p><strong>Espacio para Comensales:</strong> <span th:text="${table.espacioComensales}"></span></p>
        <p><strong>Ubicación:</strong> <span th:text="${table.ubicacion}"></span></p>
        <p><strong>Ocupada:</strong> <span th:text="${table.ocupada} ? 'Sí' : 'No'"></span></p>
        <form th:action="@{/tables/eliminar/{id}(id=${table.id})}" method="post">
            <button type="submit" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 0 5 6v6a.5.5 0 0 0 1 0V6a.5.5 0 0 0-.5-.5zm3 0A.5.5 0 0 0 8 6v6a.5.5 0 0 0 1 0V6a.5.5 0 0 0-.5-.5zM4.118 1.5a1 1 0 0 1 .96-.736h6.344a1 1 0 0 1 .96.736L12.5 3h2a.5.5 0 0 1 0 1H1.5a.5.5 0 0 1 0-1h2l.618-1.5zM4.5 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v7a2 2 0 0 1-2 2H6.5a2 2 0 0 1-2-2V4z"/>
                </svg>
                Eliminar
            </button>
            <a href="/tables/listar" class="btn btn-secondary btn-cancel">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zM7.354 4.646a.5.5 0 1 1 .707.708L8 6.707l.646-.647a.5.5 0 0 1 .708.708L8.707 7.414l.647.646a.5.5 0 0 1-.708.708L8 8.707l-.646.647a.5.5 0 1 1-.708-.708L7.293 8l-.647-.646a.5.5 0 0 1 0-.708z"/>
                </svg>
                Cancelar
            </a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
