<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" href="styles.css">
<head>
   
    <meta charset="UTF-8">
    <title>Bienvenido a nuestra aplicación</title>
</head>
<body>
    <h1>Bienvenido a nuestra aplicación Spring Boot!</h1>
    <p>¡Gracias por visitarnos!</p>
    <h2>¿Qué deseas hacer?</h2>
    <ul>
        <li><a href="/productos/listar" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Productos</a></li>
        <li><a href="/users/listar" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Usuarios</a></li>
        <li><a href="/pedidos" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Pedidos</a></li>
    </ul>
</body>
</html>
